<template>
  <div id="app">
    <div class="top-menu">
      <a v-if="playerName" @click="changingName = !changingName" class="player-name">{{ playerName }}</a>
      <ul class="lang-list">
        <li v-for="lang of langs" class="lang-item"><a @click="setLocale(lang.code)">{{ lang.code }}</a></li>
      </ul>
    </div>
    <h1>COOPERA PLUS</h1>
    <msgs-list/>
    <transition name="fade" mode="out-in">
      <!-- Lang menu screen -->
      <lang-menu v-if="!localeState.locale"/>
      <div v-else>
        <!-- Main menu -->
        <div class="menu">
          <router-link :to="{name: 'HelpPage'}" class="menu-link">{{ $t('help') }}</router-link>
          <router-link :to="{name: 'RoomsList'}" class="menu-link">{{ $t('rooms') }}</router-link>
          <router-link :to="{name: 'RankList'}" class="menu-link">{{ $t('ranking') }}</router-link>
          <router-link :to="{name: 'AboutPage'}" class="menu-link">{{ $t('about') }}</router-link>
        </div>
        <transition name="fade" mode="out-in">
          <!-- No connection to server -->
          <div v-if="mustWaitConnection()">
            <p>{{ $t('connecting_server') }}</p>
            <p>{{ errorMsg }}</p>
          </div>
          <div v-else>
            <transition name="fade" mode="out-in">
              <!-- Main view -->
              <player-name v-if="requestPlayerName()" :current-name="playerName"/>
              <router-view v-else/>
            </transition>
          </div>
        </transition>
      </div>
    </transition>
  </div>
</template>

<script>
import {langs, setLocale, localeState} from '@/translations'
import {safeGetLS, safeSetLS} from '@/utils'
export default {
  data () {
    return {
      playerName: null,
      langs,
      localeState,
      // Used to restore player name on reconnect or for returning user
      lastPlayerName: safeGetLS('playerName'),
      errorMsg: null,
      connected: this.$socket.connected,
      // Used to force PlayerName menu display
      changingName: false
    }
  },
  methods: {
    setLocale,
    requestPlayerName () {
      // Only request name to enter GameRoom or if player wants a rename
      if (!this.playerName && this.$route.name === 'GameRoom') {
        return true
      } else if (this.changingName) {
        return true
      }
      return false
    },
    mustWaitConnection () {
      // Some pages can be displayed even without server connection
      if (this.connected || 'AboutPageHelpPage'.indexOf(this.$route.name) !== -1) {
        return false
      } else {
        return true
      }
    }
  },
  socket: {
    events: {
      'update_player_name': function (data) {
        this.changingName = false
        this.playerName = data
        this.lastPlayerName = data
        safeSetLS('playerName', data)
      },
      'connect': function () {
        this.errorMsg = null
        this.connected = true
        if (this.lastPlayerName) {
          this.$socket.emit('set_player_name', this.lastPlayerName)
        }
      },
      'error': function (error) {
        this.errorMsg = error
      },
      'reconnect_attempt': function (error) {
        this.errorMsg = 'Connection attempt: ' + error
      },
      'disconnect': function (reason) {
        this.errorMsg = 'Disconnected: ' + reason
        this.connected = false
        this.playerName = null
      }
    }
  }
}
</script>

<style lang="scss">
@import './css/base.scss';
@import './css/gamemap.scss';

.menu {
    margin-bottom: 3rem;
}
.menu-link {
    margin: 0.5rem;
    text-transform: capitalize;
}
.lang-list {
    margin: 0;
    text-align: right;
    display: inline-block;
}
.lang-item {
    display: inline;
    margin: .2rem;
}
.player-name {
    margin-right: 2rem;
}
.top-menu {
    text-align: right;
}
</style>
