@import '../css/vars.scss';

.tile {
    display: inline-block;
    background-color: #70c7da;
    border: #71b4c3 solid 1px;
    box-sizing: border-box;
}
.map {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    outline: none;
    border: 4px solid #4f8490;
}
.map-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem auto;
}
.unit {
    width: 80px;
    height: 80px;
    background-color: black;
    border: grey solid 5px;
    box-sizing: border-box;
    position: absolute;
    transition: all 0.5s;
    pointer-events: none;
}
.player {
    background-color: #363636;
    border-color: #141414;
}
.command-arrow-box {
    width: 240px;
    height: 240px;
    position: relative;
    box-sizing: border-box;
    left: -85px;
    top: -85px;
    transform: rotate(0deg);
    transition: all 0.5s;
    z-index: 10;
}
.right {
    transform: rotate(90deg);
}
.left {
    transform: rotate(270deg);
}
.down {
    transform: rotate(180deg);
}
@mixin arrow() {
    border-top: 40px solid transparent;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 40px solid #74460c;
}
.command-arrow {
    @include arrow();
    width: 0;
    height: 0;
    left: 33%;
    position: relative;
    opacity: 0.5;
    transform: scale(0.7);
}
.step-box {
    position: absolute;
    pointer-events: none;
    transform: scale(0.7);
}
.step-arrow {
    @include arrow();
    position: absolute;
    opacity: 0.5;
    z-index: 5;
    &.invalid {
        border-bottom-color: red;
    }
    &.valid {
        border-bottom-color: green;
    }
}
.step-text-box {
    border: 40px solid transparent;
}
.player-step-name {
    position: absolute;
    transform: translate(-50%,-50%);
}
.capture {
    background-color: #dddd6b;
    border-color: #baba71;
    animation: floating 3s ease-in-out infinite alternate both;
}
.danger {
    background-color: #d80000;
    border-color: #860000;
    animation: pulsing 0.3s ease-in-out infinite alternate both;
}
.endgame-msg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #bde22b;
    border: 4px solid #598307;
    padding: 1rem;
    opacity: 0.7;
    width: 70%;
    &.defeat {
        background-color: #ec3535;
        border: 4px solid #90191f;
    }
    &.highest {
        background-color: #dddd6b;
        border: 4px solid #baba71;
    }
    span {
        display: block;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
