<template>
  <div class="chat-panel">
    <input ref="input"
           type="text"
           placeholder="chat message"
           v-model="msg"
           :style="!msgs.length?'border-bottom: 0':''"
           @keyup.enter="sendMsg">
    <div class="messages-list">
      <p v-for="msg in msgs">{{ msg.formated }}</p>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      msgs: [],
      msg: ''
    }
  },
  socket: {
    events: {
      'add_chat_msg': function (data) {
        data.formated = this.formatMsg(data)
        this.msgs.unshift(data)
      }
    }
  },
  methods: {
    sendMsg () {
      if (this.msg.length) {
        this.$socket.emit('send_player_msg', this.msg)
        this.msg = ''
        this.$audio.play('click')
      }
    },
    formatMsg (msg) {
      var date = new Date(msg.date)
      var hours = date.getHours().toString().padStart(2, '0')
      var minutes = date.getMinutes().toString().padStart(2, '0')
      return `${hours}:${minutes} ${msg.player}: ${msg.msg}`
    }
  }
}
</script>

<style scoped lang="scss">
@import '../css/vars.scss';
input {
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
p {
    margin: 0;
    padding: 2px;
}
.chat-panel {
    margin: auto;
    max-width: 800px;
    text-align: left;
    font-family: 'mono';
    border: 2px solid $border-color;
}
</style>
