<template>
  <div v-if="room">
    <h2 class="no-margin no-captalization">{{ $t('Room') }}: {{ $route.params.name }}</h2>
    <p class="no-margin">{{ $t('map level') }}: {{ room.level }}</p>

    <table v-if="room.players">
      <thead>
        <tr>
          <th>{{ $t('player') }}</th>
          <th>{{ $t('move') }}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="player of room.players">
          <td>{{ player.name }}</td>
          <td>{{ $t(player.command) }}</td>
        </tr>
      </tbody>
    </table>

    <game-map :map="room.map" :room="room"/>

    <chat-panel/>
  </div>
</template>

<script>
export default {
  data () {
    return {
      room: null
    }
  },
  socket: {
    events: {
      'update_game_room': function (data) {
        this.room = data
        // Play sounds
        var delay = 0
        data.map.history.forEach(e => {
          var audioName = null
          if (e.type === 'player') {
            // Player moves
            audioName = 'violin' + e.command
          } else {
            // Other sounds
            audioName = e.type
          }
          setTimeout(() => this.$audio.play(audioName), delay)
          delay += Math.round(1000 / data.map.history.length)
        })
        // Win / Lost
        if (data.map.won) {
          if (!this.playingFinalSound) {
            this.$audio.play('nextlevel')
            this.playingFinalSound = 'victory'
          }
        } else if (data.map.lost) {
          if (!this.playingFinalSound) {
            if (this.room.rank.new_highest) {
              this.$audio.play('newhighest')
              this.playingFinalSound = 'newhighest'
            } else {
              this.$audio.play('defeat')
              this.playingFinalSound = 'defeat'
            }
          }
        } else {
          this.playingFinalSound = null
        }
      }
    }
  },
  mounted () {
    this.$socket.emit('join_game_room', this.$route.params.name)
  },
  beforeRouteUpdate (to, from, next) {
    this.$socket.emit('leave_game_room')
    this.$socket.emit('join_game_room', to.params.name)
    next()
  },
  beforeRouteLeave (to, from, next) {
    this.$socket.emit('leave_game_room')
    next()
  }
}
</script>
