<template>
  <div>
    <div class="panel">
      <h2>{{ $t('help') }}</h2>
      <p>{{ $t('help_1') }} <strong>{{ $t('cooperate') }}</strong>.</p>
      <p>{{ $t('help_2') }}</p>
      <p>{{ $t('help_3') }}</p>

      <!-- Units -->
      <div class="unit-line">
        <span>{{ $t('You') }}:</span>
        <div class="unit player"></div>
      </div>
      <div class="unit-line">
        <span>{{ $t('Pick') }}:</span>
        <div class="unit capture"></div>
      </div>
      <div class="unit-line">
        <span>{{ $t('Avoid') }}:</span>
        <div class="unit danger"></div>
      </div>

      <p>{{ $t('help_4') }}</p>

      <p>{{ $t('help_4-1') }}</p>

      <button ref="button" @click="next">{{ $t('go_to_rooms') }}</button>

      <p>{{ $t('help_5_1') }} <a @click="showExtra">{{ $t('help_5_2') }}</a>.</p>

      <transition name="fade" mode="out-in">
        <div ref="extra" v-show="extraTips">

          <p>{{ $t('help_6') }}</p>

          <p>{{ $t('help_7') }}</p>

          <p>{{ $t('help_8_1') }} <router-link :to="{name: 'RankList'}">{{ $t('ranking') }}</router-link> {{ $t('help_8_2') }}</p>

          <p>{{ $t('help_9') }}</p>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      extraTips: false
    }
  },
  methods: {
    next () {
      this.$router.push({name: 'RoomsList'})
      this.$audio.play('click')
    },
    showExtra () {
      this.extraTips = true
      setTimeout(() => this.$refs.extra.scrollIntoView({behavior: 'smooth'}), 100)
    }
  }
}
</script>

<style scoped lang="scss">
.unit {
    diplay: inline-block;
    position: relative;
}
.unit-line {
    display: flex;
    align-items: center;
    justify-content: center;
    >* {
      margin: 20px;
    }
  }
</style>
